html,
body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	background: linear-gradient(90deg, #8159C6 0%, #6C7CFF 100%);
	
}

.wrapper {
	display: flex;
	flex-direction: column;
	// overflow: hidden;
}


.container{
  max-width: 1255px;
  margin: 0 auto;
  padding: 0 15px;
}





